nav {
	padding:2em 0;
}
.mainnav {
@include transition(all .5s);

		float:right;
		li {
			float:left;
			a {
				padding:1em;
				font-weight: 300;
				font-family: $heading;
				color:$neutral;
				text-transform: uppercase;
				&:hover {
					color:$light;
				}
			}
		}
	}


.logo {
	height:150px;
	float:left;
}