* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}
/*
body {
  background:url('/resources/img/texture.png') repeat;
}*/

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
  margin:0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.about {
  background:$secondary;
  p {
    color:white;
    padding: 0;
    margin: 0;
  }
  ul {
    li {
      float:left;
      text-align: center;

    }
  }
}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.intro {
  h1 {
    color:$secondary;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 0 .5em;
    font-weight: 500;
    span {
      color:$neutral;
    }
  }
  p {
    font-size: 20px;
  }
}

.featured {
  ul {
    li {
      float:left;
      position: relative;
      @include rowGrid(3,2%);
      .portThumb {
        height:auto;
        width:100%;
        border-radius:5px;
        overflow:hidden;
        position: relative;
        margin-bottom: 1em;

      }
      &:hover {
        .portMeta {
          p {
            color:$secondary;
          }
        }
        .portCat {
          visibility: visible;
          background:rgba(222, 140, 38, 0.8);
          h4{
            @include opacity(1);
          }
        }
      }
      .portMeta {
        text-align: center;
        h3 {
          font-size: 18px;
          color:$neutral;
          font-weight: 100;
          margin: 0;
          line-height: 1.4;
          
        }
        p {
          font-weight: 100;
          font-size: 16px;
          color:$light;
          @include transition(.4s color)
        }
      }
      .portCat{
        visibility:hidden;
        position: absolute;
        height:100%;
        width:100%;
        @include transition(.4s all);
        text-align: center;
        h4{
          font-weight: 300;
          font-style: italic;
          margin-top:25%;
          vertical-align:middle;
          color:white;
          @include opacity(0);
          @include transition(.4s opacity);
        }
      }
    }
  }
}


.hero {
  height:400px;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
