body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 1em 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  color: $secondary;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
  font-weight: 300;
}

a {
  color:$light;
  @include transition(all .3s);
  text-decoration: none;
  
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}