// COLOR PALETTE
$primary: #A2AAB0;
$secondary: #de8c26;
$hover: #505050;
$neutral: #939DA7;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$light: #DBE0E4;

// FONT STACKS
$heading: 'Roboto Slab', serif;
$body: 'Roboto', sans-serif;